body {
    margin: 0;
    padding: 0;
}

.gradiente {
    animation: gradient 10s ease infinite;
    background: linear-gradient(180deg, #3B4F66, #688C6A, #80A665, #A6D973) no-repeat;
    background-size: 400% 400%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 890px;
    font-size: 300%;
}

@keyframes gradient {
    0% {
        background-position: 50% 0%;
    }

    50% {
        background-position: 50% 100%;
    }

    100% {
        background-position: 50% 0;
    }
}

@keyframes shown {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.shown {
    animation: shown 3s forwards;
}

.segundaTela{
    height: 890px;
    background: #3b4f66;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.segundaTela > a > div{
    background: white;
    width: 600px;
    height: 600px;
    margin: 100px;
    border-radius: 20px;
    box-shadow: 10px 5px 5px slategrey;
    display: flex;
    justify-content: center;
}

.segundaTela > a > div:hover{

    -webkit-transform:scale(1.0);
    transform:scale(1.1);

}

.segundaTela > a > div> img{
    height: 400px;
    width: 550px;
    margin-top: 15px;
    border-radius: 20px;
}

.terceiraTela{
    height: 890px;
    background: linear-gradient(steelblue, #80A665);
    display: flex;
}

.terceiraTela > div{
    display: flex;
    justify-content: center;
    width: 50%;
    margin-right: 20px
}

.terceiraTela > div > img{
    width: 50vw;
    height: 100vh;
}

.planosCarro{
    margin-top: 570px;
    height: 300px;
}


.planosCarro > div{
    border-radius: 20px;
    width: 250px;
    height: 250px;
    background-color: white;
    margin-left: 5px;
}

.quartaTela{
    height: 890px;
    background: linear-gradient(steelblue, #80A665);
    display: flex;
    justify-content: center;
    align-items: center;
}

.quartaTela > div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-left: 20px
}

.planosCasa{
    margin-top: 570px;
    height: 300px;
}


.planosCasa > div{
    border-radius: 20px;
    width: 250px;
    height: 250px;
    background-color: white;
    margin-left: 5px;
}

.quartaTela > div > img{
    width: 50vw;
    height: 100vh; 
}

.quintaTela{
    height: 890px;
    background: linear-gradient(rgb(226, 225, 225), steelblue, #80A665);
    display: flex;
    justify-content: center;
    align-items: center;
}

.quintaTela > div{
    margin: 20px;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quintaTela > div > img{
    border-radius: 20px;
    width: 700px;
    height: 700px;
}

/* Estilização do Rodapé */

footer {
    background: #3b4f66;
}

.footer-final {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-final small {
    color: white;
    margin: 0 100px 0 100px;
    padding-bottom: 12px;
    border-bottom: 1px solid #6d95a1;
}


footer img {
    margin-left: 10px;
    height: 150px;
}

footer p {
    color: white;
    text-align: center;
    font-size: 18px;
}

